{% extends "base.html" %}
{% load static %}
{% block title %} Home {% endblock %}

{% block body %}
    <h1>Allah</h1>
    <div class="container">
        <div>
            <h1>Learn Ai & Data</h1>
            <h1>Science Smartly</h1>
        </div>
        <div>
            <div class="box"><h2 class="hf">FREE COURSES</h2></div>
            <div class="box2">
                <h2 class="hm">Learn without limits from affordable data</h2>
            <h2 class="hl">scince courses & Grab your dream job.</h2>
            </div>
            <div class="endgap"></div>
        </div>
    </div>
    <div class="second">
        <div class="endgap"></div>
        <div class="sh1">Data Science & Ai Courses</div>
        <div class="sh2">(Live)</div>
        <div class="sh3">
            <p class="pera">looking to break int high growth like Python, R, Data Science
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sed dignissimos quos magni cupiditate autem aliquid laudantium et in quia iste inventore molestias omnis, vero, placeat ipsam quis quisquam nihil. At quos consequuntur possimus recusandae obcaecati nam eligendi beatae, est quo quasi voluptate illum eaque, provident voluptates. Debitis, magnam labore?
            </p>
        </div>
        <div class="endgap"></div>
    </div>
    <div class="third">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            <div class="col">
              <div class="card">
                <img src="{% static 'images/Aristoxcel.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Python Problem Solving</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'images/rakib.excel.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SQL For Everybody </h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'images/SAP_logo.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Big Data Engineering</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="{% static 'images/donat.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Statistics for DATA SCIENCE</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
          
            <div class="col">
                <div class="card">
                    <img src="{% static 'images/bar.jpg' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">DATA ANALYSIS</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card">
                <img src="{% static 'images/Screenshot excel.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Data Science & ML with Python</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div> 
            </div>
            <div class="col">
                <div class="card">
                <img src="{% static 'images/forcast.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Deep Learning For Computer Vision </h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card">
                <img src="{% static 'images/chart.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cloud Computing With AWS</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
        
            <div class="col">
                <div class="card">
                <img src="{% static 'images/choc.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Python Django</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                </div>
            </div>
    </div>
    <div class="endgap"></div>
</div>
    
    <div class="forth">

        <h1>Recent Blogs</h1>
        <div class="ray"></div>
        <div class="card-group">
            <div class="card">
              <img src="{% static 'images/shkil.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Md. Rashedul Islam Shakil</h5>
                <p class="card-text">This is a wider card with supporting Machine learning below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 2 days ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'images/noman.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Md. Abu Noman Basar</h5>
                <p class="card-text">This card has supporting Django below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 hours ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="{% static 'images/sohan.jpg' %}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mr. Sohan khan</h5>
                <p class="card-text">This is a wider card with supporting Aiquest below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 10 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="endgap"></div>
    </div>
    
    
{% endblock %}